node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environments
.env
.envrc
.venv
local.env
env/
venv/
ENV/
env.bak/
venv.bak/